<section
		aira-label="description"
		class="relative px-8 lg:px-24 py-8 w-full grid gap-5 grid-cols-1 md:grid-cols-2"
	>
		<article
			class="flex items-center justify-start row-span-1"
		>
			<p class="text-gray-300 text-lg">
				Keep scrolling
			</p>
		</article>
		<article
			class="flex items-center justify-end row-span-1"
		>
			<p class="text-gray-300 text-lg text-right">
				Available for select freelance opportunities
				<br/>
				<a href="/contact" class="font-bold uppercase text-gray-50 hover:underline">Let's Talk</a>
			</p>
		</article>
	</section>