---

---

<section
    class="px-8 lg:px-24 relative w-full grid gap-5 grid-cols-6"
>
    <article class="mb-2 w-full col-span-full">
        <h2 class="text-5xl font-bold">
            Featured Projects
        </h2>
    </article>
    <article
        class="col-span-6 bg-slate-500 rounded-lg p-4 lg:h-[90vh]"
    >
        <h2
            class="text-xl font-bold"
        >
            Project 1
        </h2>
    </article>
    <article
        class="col-span-6 lg:col-span-3 bg-slate-500 rounded-lg p-4 lg:h-[60vh]"
    >
        <h2
            class="text-xl font-bold"
        >
            Project 2
        </h2>
    </article>
    <article
        class="col-span-6 lg:col-span-3 bg-slate-500 rounded-lg p-4 lg:h-[60vh]"
    >
        <h2
            class="text-xl font-bold"
        >
            Project 3
        </h2>
    </article>
    <article
        class="col-span-6 lg:col-span-4 bg-slate-500 rounded-lg p-4"
    >
        <h2
            class="text-xl font-bold"
        >
            Project 4
        </h2>
    </article>
    <article
        class="col-span-6 lg:col-span-2 flex flex-col gap-5 lg:h-[90vh]"
    >
        <div class="w-full flex-1 bg-slate-500 rounded-lg p-4">
            <h2
                class="text-xl font-bold"
            >
                Project 5
            </h2>
        </div>
        <div class="w-full flex-1 bg-slate-500 rounded-lg p-4">
            <h2
                class="text-xl font-bold"
            >
                Project 6
            </h2>
        </div>
    </article>
</section>