---

---

<nav
    class="relative z-[1] flex w-full h-full py-6 px-5 items-center justify-center"
>
    <section
        id="footer-container"
        class="relative z-[1] grid content-between gap-4 grid-cols-5 grid-rows-6 w-full h-full" 
    >
        <article
        >
            <p class="text-gray-900">
                Fullstack Developer and Software Engineer<br/>
                Portfolio 2022 - 2023
            </p>
        </article>
        <article class="col-span-3">
            <h3 class="font-bold text-gray-900 uppercase text-center text-xl">
                Joseph Cano
            </h3>
        </article>
        <article>
            <p class="text-gray-900 text-right">
                Available for freelance work
            </p>
        </article>
        <article class="col-span-3 row-span-4 col-start-2 col-end-5 flex flex-col items-center text-center justify-center">
            <div class="p-6 flex relative items-center justify-center text-center">
                <h2 class="text-8xl font-black uppercase text-gray-900">
                    Interested in working together?
                </h2>
            </div>
            <div class="flex flex-col gap-4">
                <a
                    href="/contact"
                    class="inline-block px-8 py-3 text-lg font-medium text-gray-900 border border-gray-900 rounded-full hover:bg-gray-900 hover:text-white transition duration-300 ease-in-out"
                >
                    Contact me
                </a> 
                <p class="text-gray-600 text-lg">Or drop me an email at:</p>

                <p class="text-gray-900 text-2xl font-medium">
                    <a href="mailto:josephct06@gmail.com">
                        josephct06@gmail.com
                    </a>
                </p>
            </div>
        </article>
        <article class="row-start-6 flex items-end">
            <p class="text-gray-900 text-right inline-block">
                Designed and Developed by: Joseph Cano
            </p>
        </article>
        <article class="col-span-3 flex justify-center gap-4 items-end">
            <a
                href="https://linkedin.com/joseph-cano"
                rel="noopener noreferrer"
                target="_blank"
                class="inline-block px-8 py-3 text-lg font-medium text-gray-900 border border-gray-900 rounded-full hover:bg-gray-900 hover:text-white transition duration-300 ease-in-out"
            >
                LinkedIn
            </a>
            <a
                href="https://github.com/jcanotorr06"
                rel="noopener noreferrer"
                target="_blank"
                class="inline-block px-8 py-3 text-lg font-medium text-gray-900 border border-gray-900 rounded-full hover:bg-gray-900 hover:text-white transition duration-300 ease-in-out"
            >
                GitHub
            </a>
            <a
                href="https://blog.josephcano.com"
                rel="noopener noreferrer"
                target="_blank"
                class="inline-block px-8 py-3 text-lg font-medium text-gray-900 border border-gray-900 rounded-full hover:bg-gray-900 hover:text-white transition duration-300 ease-in-out"
            >
                Blog
            </a>
        </article>
        <article class="flex items-end justify-end">
            <p class="text-gray-900 text-right inline-block">
                © 2022 - 2023
            </p>
        </article>  
    </section>
    <div
        id="footer-background"
        class="absolute z-[0] rounded-2xl bg-white w-full h-full"
    />
</nav>