---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Showcase"
>
    <h1>
        Showcase
    </h1>
    <p>
        Here are some of the projects that are using Astro.
    </p>
</Layout>