---
import { SEO } from "astro-seo";
import Loader from "../components/Loading/Loader";
import Footer from "../components/Navigation/Footer.astro";
import NavBar from "../components/Navigation/NavBar";
import "../styles/globals.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={`Joseph Cano's Portfolio | ${title}`}
			description="Joseph Cano is a software engineer and designer based in Panama. He is currently working at Paguelofacil as a Frontend Engineer."
			canonical="https://www.josephcano.com"
			charset="utf-8"
			openGraph={{
				basic: {
					title: "Joseph Cano's Portfolio",
					type: "website",
					image: "/images/preview.png",
					url: "https://www.josephcano.com",
				},
				image: {
					alt: "Joseph Cano's Portfolio",
				},
				optional: {
					description: "Joseph Cano is a software engineer and designer based in Panama. He is currently working at Paguelofacil as a Frontend Engineer.",
					locale: "en_US",
					siteName: "Joseph Cano's Portfolio"
				},
			}}
			twitter={{
				card: "summary_large_image",
				site: "@spoofy507",
				creator: "@spoofy507",
			}}
			extend={{
				link: [
					{
						rel: "icon",
						href: "/favicon.ico",
					},
					{
						rel: "manifest",
						href: "/manifest.json",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-57x57.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-60x60.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-72x72.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-76x76.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-114x114.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-120x120.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-144x144.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-152x152.png",
					},
					{
						rel: "apple-touch-icon",
						href: "/images/apple-icon-180x180.png",
					},
					{
						rel: "icon",
						type: "image/png",
						href: "/images/android-icon-192x192.png",
					},
					{
						rel: "icon",
						type: "image/png",
						href: "/images/favicon-32x32.png",
					},
					{
						rel: "icon",
						type: "image/png",
						href: "/images/favicon-96x96.png",
					},
					{
						rel: "icon",
						type: "image/png",
						href: "/images/favicon-16x16.png",
					}
				],
				meta: [
					{
						name: "viewport",
						content: "width=device-width, initial-scale=1.0",
					},
					{
						name: "msapplication-TileColor",
						content: "#111827",
					},
					{
						name: "msapplication-TileImage",
						content: "/images/ms-icon-144x144.png",
					},
					{
						name: "theme-color",
						content: "#111827",
					}
				]
			}}
		/>
	</head>
	<body class="flex flex-col min-h-screen transition-all duration-1000" data-theme="default">
		<Loader client:load/>
		<header>
			<NavBar client:load/>
		</header>
		<main class="grow z-[2]">
			<slot />
		</main>
		<footer id="footer" class="w-full h-screen px-8 lg:px-24 py-10 flex justify-center items-center z-[2]">
			<Footer/>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
